<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
	<title>Eat That Burger!</title>
</head>

<body>
	<img src="https://s26552.pcdn.co/wp-content/uploads/2014/09/innout-e1411500854422.png" id="burger">

	{{{ body }}}


</body>
</html>